body   {
	color: #2c2b2b;
	font: normal 12px arial;
	line-height: 18px;
	text-align:justify;
}

a,
a:visited {
	color: #E33729;
	text-decoration: none;
}
a:hover {
	color: #E33729;
	text-decoration: underline;
}
